[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==18.9b0"
ipdb = "*"
pytest = "*"

[packages]
requests-html = "*"
requests = "*"
beautifulsoup4 = "*"
click = "*"
pprint = "*"
datetime = "*"
python-dateutil = "*"
redis = "*"
python-slugify = "*"
flask = "*"
flask-wtf = "*"
fastapi = "*"
uvicorn = "*"
psycopg2 = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
