<html>
    <head>
        <title>{{ source }} -> {{ destination }} on {{ date_from }}</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <body>

        <form action="{{ url_for('search') }}" method="post">
            <table>
                <tr><th>{{ form.source.label }}:</th><td>{{ form.source(size=20) }}</td></tr>
                <tr><th>{{ form.destination.label }}:</th><td>{{ form.destination(size=20) }}</td></tr>
                <tr><th>{{ form.date_from.label }}:</th><td>{{ form.date_from(size=20) }}</td></tr>
                <tr><th>{{ form.date_to.label }}:</th><td>{{ form.date_to(size=20) }}</td></tr>
                <tr><th>{{ form.count.label }}:</th><td>{{ form.count(size=2) }}</td></tr>
                <tr><td rowspan="2"><input type="submit" value="Search"></td></tr>
            </table>
 		</form>

        <script>
            $(function(){
                $("#date_from").datepicker({dateFormat: "yy-mm-dd"});
            });
            $(function(){
                $("#date_to").datepicker({dateFormat: "yy-mm-dd"});
            });
            $(function(){
                $("#source").autocomplete({source: "/whisperer", minLength: 2});
            });

            $(function(){
                $("#destination").autocomplete({source: "/whisperer", minLength: 2});
            });

        </script>
    </body>
</html>
